<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    Son Eklenenen Videolar
                </div>
            </div>
        </div>
        <div class="row mt-5">

            <!-- CARD ITEM -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="video-card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nq9cgeZjhXQ?si=9c941_gYKlv46CUY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="video-title">
                        Ön Çapraz Bağ Yaralanmaları
                    </div>
                </div>

            </div>


            <!-- CARD ITEM -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="video-card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eg9de5I6fDE?si=cvmayeA-xvjpAr5C"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="video-title">
                        Ön Çapraz Bağ Yaralanmalarının Belirtileri Nelerdir ?
                    </div>
                </div>
            </div>



            <!-- CARD ITEM -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="video-card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Iyh4uxemVkY?si=X_nDwXdmKUD0uqfQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    <div class="video-title">
                        Ön Çapraz Bağ Yaralanmaları
                    </div>
                </div>

            </div>




            <!-- CARD ITEM -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="video-card">
                    <iframe width="100%" src="https://www.youtube.com/embed/nq9cgeZjhXQ?si=9c941_gYKlv46CUY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    <div class="video-title">
                        Ön Çapraz Bağ Yaralanmaları
                    </div>
                </div>
            </div>

            <!-- CARD ITEM -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="video-card">
                    <iframe width="100%" src="https://www.youtube.com/embed/nq9cgeZjhXQ?si=9c941_gYKlv46CUY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    <div class="video-title">
                        Ön Çapraz Bağ Yaralanmaları
                    </div>
                </div>
            </div>

            <!-- CARD ITEM -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="video-card">
                    <iframe width="100%" src="https://www.youtube.com/embed/nq9cgeZjhXQ?si=9c941_gYKlv46CUY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    <div class="video-title">
                        Ön Çapraz Bağ Yaralanmaları
                    </div>
                </div>
            </div>


            <div class="col-12 text-center">
                <a class="btn btn-dark section-title-link">
                    Tüm Videolar
                </a>
            </div>






        </div>
    </div>
</section>