<!--------------------------  HEADER --------------------------------->
<h1 class="main-h1">OP. Dr. Murat Baloğlu, Ortopedi ve Travmatoloji Uzmanlığı Antalya</h1>
<header>
    <div class="head-top">
        <div class="container">
            <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2 col-xxl-2 ps-2 ps-sm-0">
                    <div class="row quick-menu">
                        <div class="col-2 d-flex align-items-center">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="col-10">
                            <div class="ht-item-head">Bize Ulaşın</div>
                            <div class="ht-item-text">+90 533 662 29 02</div>
                        </div>
                    </div>
                </div>

                <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3  col-xxl-3  ps-2 ps-sm-0">
                    <div class="row quick-menu">
                        <div class="col-2 d-flex align-items-center">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                        <div class="col-10">
                            <div class="ht-item-head">E-Posta</div>
                            <div class="ht-item-text">op.dr.muratbaloglu&#64;gmail.com</div>
                        </div>
                    </div>
                </div>

                <div class="col-1 col-sm-1 col-md-1 col-lg-4 col-xl-3 col-xxl-3 ps-2 ps-sm-0">
                    <div class="row quick-menu">
                        <div class="col-2 d-flex align-items-center">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div class="col-10 px-0">
                            <div class="ht-item-head">Randevu İçin</div>
                            <div class="ht-item-text">444 7 888 / 0242 314 66 66 , dahili (5306)</div>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-sm-9 col-md-9  col-lg-3 col-xl-4 col-xxl-4 text-end d-flex align-items-center">
                    <ul class="social-media ms-auto">
                        <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-navbar></app-navbar>

</header>
<!-- HEADER FINISH -->