<footer>
    <div class="container">
      <div class="row pb-5">
          <div class="col-md-12 col-lg-4 col-xl-4">
            <div class="footer-logo">
              <img src="assets/images/logo/logo.png">
            </div>
          </div>
          
          <div class="col-md-12 col-lg-4 col-xl-4">
              <div class="footer-menu-head">
                HIZLI BAĞLANTILAR
              </div>
              <ul class="footer-menu-list">
                <li><a href="javascript:void(0);">Robotik Diz ve Kalça Protezi</a></li>
                <li><a href="javascript:void(0);">Boy Uzatma Ameliyatları</a></li>
                <li><a href="javascript:void(0);">Omuz , Diz ve Ayak Bileği Artroskopileri</a></li>
                <li><a href="javascript:void(0);">SVF ve ACP Uygulamaları</a></li>
                <li><a href="javascript:void(0);">Spor Yaralanmaları ve Tedavileri</a></li>
                <li><a href="javascript:void(0);">Hasta Yorumları</a></li>
              </ul>
          </div>

          <div class="col-md-12 col-lg-4 col-xl-4">
            <div class="footer-menu-head">
              BİZE ULAŞIN
            </div>

            <ul class="footer-menu-list">
              <li><a href="javascript:void(0);"><i class="fa-solid fa-phone"></i>444 7 888 / 0242 314 66 66 (dahili / 5306)</a></li>
              <li><a href="javascript:void(0);"><i class="fa-regular fa-envelope"></i>op.dr.muratbaloglu&#64;gmail.com</a></li>
            </ul>
            <div class="footer-social-media py-2">
              <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a> <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a> <a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a> <a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a>
            </div>
            
          </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 d-flex align-items-center">© 2023 muratbaloglu.com, Op. Dr. Murat Baloğlu</div>
          <div class="col-sm-12 col-md-6">
            <ul>
              <li><a class="footer-text-link" href="javascript:void(0);">KVKK Aydınlatma Metni</a></li>
              <li><a class="footer-text-link" href="javascript:void(0);">KVKK Aydınlatma Metni</a></li>
              <li><a class="btn btn-danger" href="javascript:void(0);">Kabul Ediyorum</a></li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>
  </footer>


  <div class="scrollTop">
    <i class="fa-solid fa-angle-up"></i>
  </div>
  <div class="writeUs">
    <i class="fa-regular fa-comments"></i>
  </div>
