<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="m-0">Slider / Carousel İçin Resim Yükle</h3>
    </div>
    <div class="card-body">
        <!-- <h4 class="card-title">Special title treatment</h4> -->
        <app-file-upload [options]="fileUploadOptions"></app-file-upload>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let carouselImage of carouselImages">
                <div class="card mb-2 bg-gradient-dark">
                    <img class="card-img-top" src={{carouselImage.path}} alt={{carouselImage.fileName}}>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="deleteCarouselImage(carouselImage.id,carouselImage.fileName)">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                        <!-- <button type="button" class="btn btn-info btn-sm">
                            <i class="fas fa-pencil-alt"></i> Sırala
                        </button> -->
                        <!-- <button type="button" class="btn btn-primary btn-sm"
                            (click)="uploadBlogImages(blog.id,blog.title)"><i class="fas fa-pencil-alt"></i>Blog
                            Resimleri</button> -->
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>
<!-- /.card -->