<section class="patients-comments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-white">
                    Hastalarımızın Yorumları
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!-- ITEM -->
                        <div class="carousel-item active">
                            <div class="col-md-6 col-lg-6 col-xl-4 p-3">
                                <div class="card">
                                    <div class="card-head">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="min">
                                                    <div class="card-head-icon">
                                                        <i class="fa-regular fa-thumbs-up"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-10 ps-4">
                                                <div class="card-head-name ps-2">Ahmet Bey</div>
                                                <div class="card-head-title ps-2">Diz Protezi Ameliyatı</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-body-text">
                                            <i class="fa-solid fa-quote-left"></i>
                                            Geçirdiğim diz protezi ameliyatı sonrasında tüm şikayetlerim kayboldu ve
                                            rahatlıkla yürüyüp
                                            koşabiliyorum. Eski sağlığıma kavuştuğum için Murat hocama çok teşekkür
                                            ederim. Ayrıca bu
                                            süreçte bana yardımcı olan tüm ekibe de teşekkür ederim.
                                            <i class="fa-solid fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- ITEM -->
                        <div class="carousel-item">
                            <div class="col-md-6 col-lg-6 col-xl-4 p-3">
                                <div class="card">
                                    <div class="card-head">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="min">
                                                    <div class="card-head-icon">
                                                        <i class="fa-regular fa-thumbs-up"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-10 ps-4">
                                                <div class="card-head-name ps-2">Veday Bey</div>
                                                <div class="card-head-title ps-2">Diz Protezi Ameliyatı</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-body-text">
                                            <i class="fa-solid fa-quote-left"></i>
                                            Geçirdiğim diz protezi ameliyatı sonrasında tüm şikayetlerim kayboldu ve
                                            rahatlıkla yürüyüp
                                            koşabiliyorum. Eski sağlığıma kavuştuğum için Murat hocama çok teşekkür
                                            ederim. Ayrıca bu
                                            süreçte bana yardımcı olan tüm ekibe de teşekkür ederim.
                                            <i class="fa-solid fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!-- ITEM -->
                        <div class="carousel-item">
                            <div class="col-md-6 col-lg-6 col-xl-4 p-3">
                                <div class="card">
                                    <div class="card-head">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="min">
                                                    <div class="card-head-icon">
                                                        <i class="fa-regular fa-thumbs-up"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-10 ps-4">
                                                <div class="card-head-name ps-2">Ayşe Hanım</div>
                                                <div class="card-head-title ps-2">Boy Uzatma Ameliyatı</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-body-text">
                                            <i class="fa-solid fa-quote-left"></i>
                                            Geçirdiğim diz protezi ameliyatı sonrasında tüm şikayetlerim kayboldu ve
                                            rahatlıkla yürüyüp
                                            koşabiliyorum. Eski sağlığıma kavuştuğum için Murat hocama çok teşekkür
                                            ederim. Ayrıca bu
                                            süreçte bana yardımcı olan tüm ekibe de teşekkür ederim.
                                            <i class="fa-solid fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- ITEM -->
                        <div class="carousel-item">
                            <div class="col-md-6 col-lg-6 col-xl-4 p-3">
                                <div class="card">
                                    <div class="card-head">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="min">
                                                    <div class="card-head-icon">
                                                        <i class="fa-regular fa-thumbs-up"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-10 ps-4">
                                                <div class="card-head-name ps-2">Harun Bey</div>
                                                <div class="card-head-title ps-2">SVF ve ACP Uygulamaları</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-body-text">
                                            <i class="fa-solid fa-quote-left"></i>
                                            Geçirdiğim diz protezi ameliyatı sonrasında tüm şikayetlerim kayboldu ve
                                            rahatlıkla yürüyüp
                                            koşabiliyorum. Eski sağlığıma kavuştuğum için Murat hocama çok teşekkür
                                            ederim. Ayrıca bu
                                            süreçte bana yardımcı olan tüm ekibe de teşekkür ederim.
                                            <i class="fa-solid fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <!-- ITEM -->
                        <div class="carousel-item">
                            <div class="col-md-6 col-lg-6 col-xl-4 p-3">
                                <div class="card">
                                    <div class="card-head">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="min">
                                                    <div class="card-head-icon">
                                                        <i class="fa-regular fa-thumbs-up"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-10 ps-4">
                                                <div class="card-head-name ps-2">Veli Bey</div>
                                                <div class="card-head-title ps-2">Kalça Protezi</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-body-text">
                                            <i class="fa-solid fa-quote-left"></i>
                                            Geçirdiğim diz protezi ameliyatı sonrasında tüm şikayetlerim kayboldu ve
                                            rahatlıkla yürüyüp
                                            koşabiliyorum. Eski sağlığıma kavuştuğum için Murat hocama çok teşekkür
                                            ederim. Ayrıca bu
                                            süreçte bana yardımcı olan tüm ekibe de teşekkür ederim.
                                            <i class="fa-solid fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>